

.select_for_county{
  min-width: 100px;
  padding: 8% !important;
}

.spinner_wrap_in_notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notfound_wrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 62vh;
}

@media screen and (max-width: 768px) {
  .select_for_county{
    padding: 2% !important;
  }
  }